*{  
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background-color: black;
}
.container {
    background-color: #1DF2A4;
}
#menu{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    height: 40px;
    padding: 15px; 
    background: linear-gradient(to right, #1DF2A4, #118C5F);
}

.logo {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 150px;

}

button:hover {
    text-decoration: underline;
}